#################
## Eclipse
#################

*.pydevproject
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
org.openntf.xsp.debugtoolbar.updatesite/features/*.jar
org.openntf.xsp.debugtoolbar.updatesite/plugins/*.jar
org.openntf.xsp.debugtoolbar.updatesite/artifacts.jar
org.openntf.xsp.debugtoolbar.updatesite/content.jar
